[Desktop Entry]
Version=1.0
Type=Application
Name=NextBIN
Comment=Ubuntu System Cleaner & Resource Manager
Exec=/usr/bin/nextbin
Icon=NextBIN
Terminal=false
Categories=Utility;System;
StartupNotify=true
